<div class="page-header">
  <%= link_to new_supplement_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Supplement
  <% end %>
  <h1>Listing supplements</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Image url</th>
            <th>Url</th>
            <th>Diet</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @supplements) do |supplement| %>
            <td><%= supplement.title %></td>
            <td><%= supplement.image_url %></td>
            <td><%= supplement.url %></td>
            <td><%= supplement.diet_id %></td>
            <td><%= link_to 'Show', supplement %></td>
        <td><%= link_to 'Edit', edit_supplement_path(supplement) %></td>
        <td><%= link_to 'Destroy', supplement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
