
<div class="page-header">
    <button {{action goBack}} class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
    {{#linkTo 'diet' id class="pull-right"}}<button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit diet</button>{{/linkTo}}
    <h1>{{title}}</h1>
</div>


<ul class="nav nav-tabs">
  <li class="active"><a href="#supplements-tab" data-toggle="tab">Supplements
    <span id="supplement-count" class="label label-default">{{supplementCount}}</span></a></li>
  <li><a href="#nutritional" data-toggle="tab">Nutritional Info <span id="nutrition-count" class="label label-default">23</span></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="supplements-tab">
    <div class="thumbnail-noconflict" style="border-top: none; min-height: 600px; border-radius: 0 0 4px 4px">
      {{view App.SupplementsCarouselView }}

      {{view App.SupplementsSearchResultsView }}
    </div>
  </div>

  <div class="tab-pane" id="nutritional">
    <div class="thumbnail-noconflict" style="border-top: none; min-height: 600px; border-radius: 0 0 4px 4px">
      <h3>Nutritional Information</h3>

    </div>
  </div>
</div>
