<div class="page-header">
  <button {{action goBack}} class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
  <h1>{{title}}</h1>
</div>

<div class="container">
  <div class="col-sm-2 thumbnail-noconflict">
    <img {{bindAttr src="imageUrl"}}/>
    <div class="label label-default">
      {{serving}} servings
    </div>
  </div>
  <div class="col-sm-10">
    <table class="table table-striped ">
      <tr><th>Ingredient</th><th>Quantity</th><th>RDI %</th></tr>
      {{#each nutritionalItems}}
        <tr><td>{{name}}</td><td>{{quantity}} {{unit}}</td><td>{{rdi}}</td></tr>
      {{/each}}
    </table>
  </div>
</div>
