<div class="page-header">
  <button {{action goBack}} class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
  {{#link-to-animated 'timelines.new' class="pull-right" animations="main:flip"}}
    <button class="btn btn-default">New timeline</button>
  {{/link-to-animated}}
  <h1>Timelines</h1>
</div>
<div class="container">
  <div class="row">
    {{#each model}}
    <div class="col-sm-4" style="margin-top: 10px">
      {{#link-to-animated 'timeline' id animations="main:flip"}}
          <div class="thumbnail-noconflict">
            <div class="image-container">
              <img {{bindAttr src="image"}} alt="{{caption}}" style="height: 400px; width: 300px;"/>
            </div>
            <h3> {{headline}} <span class="label label-default">{{postsCount}} posts</span></h3>

            <p>
              {{#link-to-animated 'posts.new' id class="pull-right" animations="main:flip"}}
                <button class="btn btn-default">New post</button>
              {{/link-to-animated}}
            </p>
            <div style="clear:both"></div>
          </div>
      {{/link-to-animated}}
    </div>
    {{/each}}
  </div>
</div>



