<div id="timeline" class="container" style="padding-bottom: 100px">
  <div class="timeline dual" style="width: 100%">
    <div class="spine animated"></div>
      <!--<div class="date_separator animated" id="timeline_date_separator"><span>All posts</span></div>-->
      {{#each sortedPosts}}
        <div class="column">
          <div class="timeline_element blog_post animated" style="width: 90%">
            <div class="title">{{headline}} - Weight {{caption}} kg<span class="date">{{formattedStartDate}}</span>
            </div>
            <div class="img_container"><img {{bindAttr src="image"}} style="height: 600px; width: 510px;"/>

              <div class="img_overlay"></div>
            </div>
            <div class="content">{{text}}
            </div>
            <!--<div class="readmore"></div>-->
          </div>
        </div>
      {{else}}
        <h3>No posts on this timeline.</h3>
      {{/each}}
  </div>
</div>