<%= content_for :head, javascript_include_tag('root_only',  'data-turbolinks-track' => true) %>

<%- if current_user %>
<div class="pull-left col-lg-4 "><%= collection_select(:timeline, :timeline_id ,Timeline.where(user: current_user), :id, :headline,{}, { :class => "form-control" } ) %></div>



<div class="pull-right">
  <%= link_to new_timeline_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Timeline
  <% end %>
  <%= link_to new_diet_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Diet
  <% end %>
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>

</div>

<div id="timeline"></div>
<%- else %>

login

<%- end %>