<div class="page-header">
  <%= link_to new_timeline_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Timeline
  <% end %>
  <h1>Listing timelines</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Headline</th>
            <th>Text</th>
            <th>Media</th>
            <th>Thumbnail</th>
            <th>Caption</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @timelines) do |timeline| %>
            <td><%= timeline.headline %></td>
            <td><%= timeline.text %></td>
            <td><%= timeline.media %></td>
            <td><%= timeline.thumbnail %></td>
            <td><%= timeline.caption %></td>
            <td><%= link_to 'Show', timeline %></td>
        <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
        <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
