<div class="page-header">
  <%= link_to timelines_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_timeline_path(@timeline), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show timeline</h1>
</div>

<dl class="dl-horizontal">
  <dt>Headline:</dt>
  <dd><%= @timeline.headline %></dd>

  <dt>Text:</dt>
  <dd><%= @timeline.text %></dd>

  <dt>Media:</dt>
  <dd><%= @timeline.image.url %></dd>

  <dt>Caption:</dt>
  <dd><%= @timeline.caption %></dd>

</dl>
