<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <%= link_to edit_diet_path(@diet), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @diet.title %></h1>
</div>
<h3>Supplements <span id="supplement-count" class="label label-default"><%= @diet.supplements.count %></span></h3>
<div>
  <ul id="carousel" class="elastislide-list">
    <%- @diet.supplements.each do |supplement| %>
      <li style="border: 1px solid #dddddd; border-radius: 4px; margin-left: 10px;">
        <%= link_to supplement_path(supplement) do %>
          <%= image_tag(supplement.image_url, style: 'height: 150px; width: 100px; margin: 0px 50px 30px 50px; ') %>
          <p style="position: absolute; bottom: 0px; margin-left: 5px; font-size: 90%;"><%= supplement.title.truncate(29) %></p>
        <%- end %>
      </li>
    <%- end %>
  </ul>
</div>


<h3>Add Supplements</h3>

<div class="container">
  <div id="error-add-supplement"></div>


  <div class="input-group col-lg-5 pull-right">
    <input type="Search" placeholder="Search..." class="form-control" id="supplement-search-input"/>

    <div class="input-group-btn">
      <button class="btn btn-info" id="supplement-search-button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</div>

<div id="supplement-search-results" class="container">
  <div class="row" data-diet-id="<%= @diet.id %>">
  </div>
</div>

