<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <%= link_to edit_diet_path(@diet), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show diet</h1>
</div>

<div>
  <%- @diet.supplements.each do |supplement| %>
    <p> <%= supplement.title %> <%= supplement.nutritional_items.count %> </p>
  <%- end %>
</div>


<h3>Supplements</h3>

<div class="container">
  <div id="error-add-supplement"></div>


  <div class="input-group col-lg-5 pull-right">
    <input type="Search" placeholder="Search..." class="form-control" id="supplement-search-input"/>

    <div class="input-group-btn">
      <button class="btn btn-info" id="supplement-search-button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </div>
  </div>
</div>

<div id="supplement-search-results" class="container">
  <div class="row" data-diet-id="<%= @diet.id %>">
  </div>
</div>

