<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Bodyspace" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "bootstrap-ie" %>
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'modernizr' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <%= yield %>
</div>

</body>
</html>

